*.avi
*.bak
*.bin
*.db
*.dll
*.doc
*.docx
*.exe
*.flv
*.log
*.m4a
*.mkv
*.mov
*.mp3
*.mp4
*.o
*.obj
*.pack
*.pdf
*.ppt
*.pptx
*.pyc
*.so
*.tmp
*.tri
*.wmv
*.xls
*.xlsx
*.zip
.DS_Store
.gif
.ipynb_checkpoints/
.jpg
.m4a
.pack
.pdf
.png
.tri
.xlsx
.zip
__pycache__/

# Explicitly large files and specific directories
.git/objects/**
thermal analysis/**/*.ipynb
escarabajos/.git/objects/pack/pack-5266c41fd25a062e6ef09e77ae23a24ac2c8c92c.pack
escarabajos/thermal analysis/thermal video scraper test.ipynb
escarabajos/.git/objects/pack/pack-bdb6b7e6c17deb27845a2c76a2f057178a78d1b4.pack
