{% if especimenes_list %}
<table>
<tr>
<th>CODE</th>
<th>GENUS</th>
<th>SPECIES</th>
<th>LABEL</th>
<th>NOTES</th>
<th>OLD_CODE</th>
<th>COLLECTION_DAY</th>
<th>COLLECTION_MONTH</th>
<th>COLLECTION_YEAR</th>
<th>DEATH_DATE</th>
<th>SEX_CODE</th>
<th>REFRIGERATOR</th>
<th>TRAY_NUMBER</th>
<th>ROW_NUMBER</th>
<th>COLUMN_NUMBER</th>
<th>LOCATION_CODE</th>
<th>LOCATION</th>
<th>COUNTRY</th>
<th>PROVINCE</th>
<th>LATITUDE</th>
<th>LONGITUDE</th>
<th>ELEVATION</th>
<th>LIGHT_DARK</th>
<th>HISTOLOGY_LOCATION</th>
<th>HISTOLOGY_STAGED_PERFORMED</th>
<th>HISTOLOGY_STAGE_NEXT_UP</th>
<th>RNA_LOCATION</th>
<th>ETOH_VOUCHER</th>
<th>ELYTRON</th>
<th>PURPOSE</th>



</tr>

{% for especimen in especimenes_list %}
    <tr>
    <td>{{ especimen.code }}</td>
    <td>{{ especimen.genus }}</td>
    <td>{{ especimen.species }}</td>
    <td>{{ especimen.label }}</td>
    <td>{{ especimen.notes }}</td>
    <td>{{ especimen.old_code }}</td>
    <td>{{ especimen.collection_day }}</td>
    <td>{{ especimen.collection_month }}</td>
    <td>{{ especimen.collection_year }}</td>
    <td>{{ especimen.death_date }}</td>
    <td>{{ especimen.sex_code }}</td>
    <td>{{ especimen.refrigerator }}</td>
    <td>{{ especimen.tray }}</td>
    <td>{{ especimen.row }}</td>
    <td>{{ especimen.column }}</td>
    <td>{{ especimen.location_code }}</td>
    <td>{{ especimen.location }}</td>
    <td>{{ especimen.country }}</td>
    <td>{{ especimen.province }}</td>
    <td>{{ especimen.latitude }}</td>
    <td>{{ especimen.longitude }}</td>
    <td>{{ especimen.elevation }}</td>
    <td>{{ especimen.light_dark }}</td>
    <td>{{ especimen.histology_location }}</td>
    <td>{{ especimen.histology_stage_performed }}</td>
    <td>{{ especimen.histology_stage_next_up }}</td>
    <td>{{ especimen.rna_location }}</td>
    <td>{{ especimen.etoh_voucher }}</td>
    <td>{{ especimen.elytron }}</td>
    <td>{{ especimen.purpose }}</td>

    </tr>

{% endfor %}


<tr>
<td>Centro comercial Moctezuma</td>
<td>Francisco Chang</td>
<td>Mexico</td>
</tr>
</table>

    <ul>

    </ul>
<li><a href="/polls/{{ especimen.code }}/">{{ especimen.label }}</a></li>

{% else %}
    <p>No polls are available.</p>
{% endif %}
